[package]
name = "kasa-core"
version = "0.1.2"
description = "Core library for communicating with TP-Link Kasa smart devices"
readme = "README.md"
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
futures.workspace = true
serde.workspace = true
serde_json.workspace = true
tokio.workspace = true
tracing.workspace = true
